@page "/ConfirmDialog"
@using PayRemind.Shared

@code {
    [Parameter] public NotificationData Notification { get; set; }
    [Inject] NotificationServiceBd NotificationServiceBd { get; set; }
    [Inject] DialogService DialogService { get; set; }

    void Confirm()
    {
        DialogService.Close(true);
    }

    void Cancel()
    {
        DialogService.Close(false);
    }
}

<RadzenCard>
    <h3>¿Desea programar este recordatorio para el próximo mes?</h3>
    <RadzenButton Text="Sí" Click="Confirm" Style="margin-right: 10px;" />
    <RadzenButton Text="No" Click="Cancel" />
</RadzenCard>
